/*-------------- Header layout---------------- */
header {
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 9999;
}

/* Style for the IGDB logo image and sign in button */
#igdb-img,
#sign-in {
  width: 60px;
  height: 60px;
}

.header-icons {
  display: flex;
  align-items: center;
}

#igdb-img {
  margin-right: 20px;
  cursor: pointer;
}

#sign-in {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f3ce13;
}

/* Style for the search input */
#input-search {
  flex: 1;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333;
  width: 100%;
  max-width: 700px; /* limits the maximum width of the search input */
}

/*--------------------- Main layout -----------------*/

/* Style for the main content */
main {
  padding-top: 80px; /* equal to height of the header */
}

/* Style for the underHeader section */
#underHeader {
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#underHeader label {
  margin-right: 20px;
}

#sort-games {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #111;
}
#games {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 40px;
}

/*----------------- Grid container styling -----------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 273px));
  gap: 1.5em;
  padding: 0.6em;
}


/*----------------- Grid item styling -----------------*/
.grid-item {
  background-color: #292626;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  padding: 1.5em;
  cursor: pointer;
  color: #f3ce13;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 black;
}

.grid-item img {
  /* display: block; */
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  object-fit: cover;
  border: 2px solid black;
}

.grid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grid-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-right: 10px; */
}

.grid-info p {
  font-size: 1.2rem;
}

.grid-item .btns {
  /* gap: 0.5em; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.grid-item button {
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  border: 1px solid #9c6c56;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  height: 3em;
  max-width: 380px;
margin-left: 20px;
  margin-right: 20px;
}
button:hover {
  box-shadow: 0 8px 16px 0 #391707a4;
}

.btns button:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#dialog-create-game {
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#dialog-create-game h2 {
  margin-top: 0;
  font-size: 24px;
}

#dialog-create-game label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

#dialog-create-game input[type="text"],
#dialog-create-game input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#dialog-create-game button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  font-size: 30px;
  cursor: pointer;
}

#dialog-create-game button:hover {
  background-color: #fcfcfa;
}

#dialog-create-game ::-webkit-input-placeholder {
  color: #ccc;
}

#dialog-create-game :-moz-placeholder {
  color: #ccc;
}

#dialog-create-game ::-moz-placeholder {
  color: #ccc;
}

#dialog-create-game :-ms-input-placeholder {
  color: #ccc;
}

#btn-create-game {
  width: 90px;
  height: 60px;
  background-color: #f3ce13;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button.close {
  position: absolute;
  top: 5px;
  right: -15px;
  background-color: #912d26;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
}

button.close:hover {
  background-color: #d32f2f;
}
